---
import { z } from "astro/zod";
import { TextInput } from "../components/common/TextInput";
import MainLayout from "../layout/MainLayout.astro";
import { Backend } from "../services/backend";

const backend = new Backend();

let error = "";
let name = "";
let email = "";
let password = "";

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const entries = Object.fromEntries(formData.entries());

  name = formData.get("name")?.toString() || "";
  email = formData.get("email")?.toString() || "";
  password = formData.get("password")?.toString() || "";

  const schema = z.object({
    name: z
      .string({ required_error: "Name is required" })
      .min(1, "Name is required"),
    email: z
      .string({ required_error: "Email is required" })
      .email("Invalid email"),
    password: z
      .string({ required_error: "Password is required" })
      .min(3, "Password must be at least 3 characters"),
  });

  const payload = schema.safeParse(entries);

  if (payload.success) {
    try {
      console.log("signup payload", payload);

      const result = await backend.signup(payload.data);

      console.log("signup result", result);

      Astro.cookies.set("token", result.token, { path: "/" });
      return new Response(null, {
        status: 303,
        headers: {
          "Set-Cookie": `token=${result.token}; Path=/`,
          Location: "/resumes",
        },
      });
    } catch (error) {
      console.error(error);
      error = "Signup failed";
    }
  } else {
    error = payload.error.issues[0].message;
  }
}
---

<MainLayout>
  <div class="flex-1 flex items-center justify-center">
    <form class="space-y-2" method="POST">
      <div class="text-lg font-semibold text-center">Hello!</div>
      <div class="text-sm text-center mb-4">Please create your account.</div>

      <TextInput
        label="Name"
        name="name"
        value={name}
        placeholder="Enter your name"
        required
      />

      <TextInput
        label="E-mail"
        name="email"
        type="email"
        value={email}
        placeholder="Enter your email"
        required
      />

      <TextInput
        label="Password"
        name="password"
        type="password"
        value={password}
        placeholder="Enter your password"
        required
      />

      <div class="mb-4"></div>

      <div class="text-error text-sm my-2">{error}</div>
      <button type="submit" class="btn btn-primary btn-wide">Signup</button>

      <div>
        Already have an account?
        <a href="/login" class="btn btn-link">Login</a>
      </div>
    </form>
  </div>
</MainLayout>
